:root {
  --nav-height: 80px;
  --fs-xl: 22px;
  --fs-lg: 20px;
  --fs-md: 18px;
  --fs-sm: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--fs-md);
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  background-color: #fff;
}

.spotlight-holder {
  padding-top: 6rem;
  padding-bottom: min(2rem, 6rem);
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.15);
}

.navbar {
  height: var(--nav-height);
}

.navbar-logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.navbar-nav .nav-link {
  font-family: "Ubuntu";
  font-style: normal;
}

#site-heading {
  font-size: clamp(30px, 6vw, 50px);
  margin: 0px;
}

#site-subheading {
  font-size: clamp(20px, 5vw, 40px);
}

.section-title {
  font-size: var(--fs-xl);
}

.title-md {
  font-size: var(--fs-md);
}

.title-sm {
  font-size: var(--fs-sm);
}

#profile-pic {
  border-radius: 50%;
  width: 180px;
  height: auto;
}

p.site-content {
  padding: 0 10px;
}

.icons {
  padding: 15px;
  margin: 10px;
  height: 120px;
  max-width: 22%;
}

.icons img {
  margin: 0 auto;
  width: 75px;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-responsive {
  max-width: 100%;
}

.icons img:hover {
  -webkit-filter: unset;
  filter: unset;
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mockup {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.mockup img:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 10;
}

.img-mockup {
  width: 100%;
  height: 100%;
  max-height: 450px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

/* Media Queries */

@media (max-width: 768px) {
  body {
    font-size: var(--fs-sm);
  }
}
