#profile-pic {
  border-radius: 50%;
  width: 180px;
  height: auto;
}

#spotlight-container {
  padding: 10% 0 5% 0;
}

#about-content,
#exp-content {
  font-size: 16px;
}

.icons {
  padding: 15px;
  margin: 10px;
  height: 120px;
  max-width: 22%;
}

.icons img {
  margin: 0 auto;
  width: 75px;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-responsive {
  max-width: 100%;
}
